<a href="recurso.html" >
<div class="wrap card"> 
    <div class="red-card card">
      <div class="figure">
        <img src="http://placehold.it/290x195">
      </div>
      <div class="description">
        <div class="title">Nome do recurso educacional</div>

        <div class="rating">
          <span ng-repeat="i in [1, 2, 3, 4, 5]" class="star">
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </span>
        </div>
        <div class="tipo">
          <i class="material-icons rea color">ondemand_video</i> Vídeo
        </div>
      </div>
    </div>

    <!-- hover -->
    <div class="rea-card hover card">

      <div class="description">
        <div class="title">Nome do recurso educacional</div>
        <div class="rating">
          <span ng-repeat="i in [1, 2, 3, 4, 5]" class="star">
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </span>
        </div>
        <div class="tipo">
          <i class="material-icons rea color">ondemand_video</i> 
          <span> Vídeo</span>
        </div>
      </div>
      <div class="resumo rea bg">
        <div class="usuario"> 
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/48.jpg" alt="Eva Faria">
        </div>
        <div class="enviado-por">
          Enviado por:<br>
          <span>Eva Faria</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur...</p>
        <div class="tags">
          <span>Biologia</span> 
          <span>Genética</span> 
          <span>Ensino médio</span> 
          <span>2º ano</span> 
        </div> 
      </div>
      <div class="rodape">
        <div class="links">
          <a title="Compartilhar recurso" href="#"><i class="material-icons">share</i></a>
          <a title="Enviar recurso" href="#"><i class="material-icons">send</i></a>
          <a title="Baixar recurso" href="#"><i class="material-icons">file_download</i></a>
        </div>
        <a title="Guardar recurso" href="#">GUARDAR</a>
        <a title="Ver mais" href="#">VER MAIS</a>
      </div>
    </div>

  </div>
</a>