<a href="recurso.html" >
  <div class="cole-card card">
    <div class="figure">
    </div>
    <div class="description">
      <div class="title">Nome do recurso educacional</div>      
      <div class="rating">
        <span ng-repeat="i in [1, 2, 3, 4, 5]" class="star">
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </span>
      </div>
      <div class="tipo">
        <i class="material-icons cole color">ondemand_video</i> Vídeo
      </div>
      <div class="tags">
        <span>Biologia</span> 
        <span>Genética</span> 
        <span>Ensino médio</span> 
        <span>2º ano</span> 
      </div>  
    </div>
    <a href="#" class="fav-icon">
      <i class="material-icons">favorite</i>
    </a>
  </div>
  <div><a class="btn saiba-mais cole bg text-center" href="">SAIBA MAIS <i class="material-icons">keyboard_arrow_down</i></a></div>
</a>
