<a href="recurso.html" >
  <div class="rev-card card">
    <div class="col-md-6 figure">
      <div class="imagem">

      </div>
      <div class="hover rev bg">
        <div class="conteudo">
          <div class="resumo box--responsive">Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing</div>
          <div class="links">
            <a title="Compartilhar recurso" href="#"><i class="material-icons">share</i></a>
            <a title="Enviar recurso" href="#"><i class="material-icons">send</i></a>
            <a title="Baixar recurso" href="#"><i class="material-icons">file_download</i></a>
          </div>
        </div>
        <div class="rodape">
          <a title="Guardar recurso" href="#">GUARDAR</a>
          <a title="Ver mais" href="#">VER MAIS</a>
        </div>
      </div>
    </div>


    <div class="col-md-6 description">
      <div class="title">Nome do recurso educacional</div>
      <div class="rating">
        <span ng-repeat="i in [1, 2, 3, 4, 5]" class="star">
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </span>
      </div>
      <div class="tipo">
        <i class="material-icons">ondemand_video</i> Vídeo
      </div>
      <div class="tags">
        <span>Biologia</span> 
        <span>Genética</span> 
        <span>Ensino médio</span> 
        <span>2º ano</span> 
      </div>
      <div class="origem">
        Origem:<br>
        <div class="nome">Banco Internacional de Objetos Educacionais</div>
      </div>
    </div>
    <a href="#" class="fav-icon">
      <i class="material-icons">favorite</i>
    </a>
  </div>
</a>
