<div class="acessibilidade">
  <div class="top-menu container">
    <ul class="list-inline pull-left">
      <li><a accesskey="1" title="Ir para o conteúdo alt + 1" href="#conteudo">Ir para o conteúdo Alt + 1</a></li>
      <li><a accesskey="2" title="Ir para o menu alt + 2" href="#menu">Ir para o menu Alt + 2</a></li>
      <li><a accesskey="3" title="Ir para a busca alt + 3" href="#main-search">Ir para a busca Alt + 3</a></li>
      <li><a accesskey="4" title="Ir para a rodapé alt + 4" href="#footer">Ir para a rodapé Alt + 4</a></li>
    </ul>
    <ul class="list-inline pull-right">
      <li><a title="Acessibilidade" href="#">Acessibilidade</a></li>
      <li><a title="Alto contraste" href="#">Alto contraste</a></li>
      <li><a title="Mapa do site" href="#">Mapa do site</a></li>
    </ul>
  </div>
</div>