    <div ng-include="'templates/partes/cabecalho/menu-acessibilidade.html'"></div><!-- Menu Acessibilidade -->
    <div ng-include="'templates/partes/cabecalho/menu-principal.html'"></div><!-- Menu Principal -->

    <!-- Busca Home -->
    <div class="busca-interna">
      <div class="container">
        <div class="col-md-12">
          <div class="col-md-7 input-group ">
            <input id="main-search" type="text" class="form-control" placeholder="O que você procura?" aria-describedby="s-input-all">
            <span class="input-group-addon" id="s-input-all"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
          </div>
          <div class="dropdown drop-cabecalho-interno col-md-3 pull-left">
          <a class="dropdown-toggle" type="button" id="dropdownComponente" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              Alterar campo de busca
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownComponente">
              <li><a href="#">Lorem ipsum</a></li>
            </ul>
          </div>
        </div>
        
      </div> 

    </div>          
