<div class="sidebar col-md-3">
	<div class="sidebar-content">
		<h3>Tipos de mídia</h3>
		<ul>
			<li class="filtro">
			<div class="filtro-content">Vídeo 
					<span class="xis pull-right glyphicon glyphicon-ok"></span>
				</div>
			</li>
			<li class="filtro">PDF <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Imagem <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
		</ul>

		<h3>Componentes Curriculares</h3>
		<ul>
			<li class="filtro">Química <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Espanhol <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Biologia <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Arte <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Ciências da Natureza <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Educação Especial <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Português <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Sociologia <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
		</ul>

		<h3>Nível de Ensino</h3>
		<ul>
			<li class="filtro">1ºano do Ensino Médio <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">8ºano do EF <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">3ºano do EF <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">1ºano do EF <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">2ºano do EF <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Educação Profissional <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
		</ul>

		<h3>Temas Transversais</h3>
		<ul>
			<li class="filtro">Ética <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Orientação Sexual <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Meio Ambiente <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Saúde <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Pluralidade Cultural <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Trabalho e Consumo <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
		</ul>	

		<h3>Acessibilidade</h3>
		<ul>
			<li class="filtro">Muito alta <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Alta <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Média <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Baixa <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Muito baixa <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
		</ul>	

		<h3>Licença de uso</h3>
		<ul>
			<li class="filtro">Livre <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
			<li class="filtro">Limitada <span class="xis pull-right glyphicon glyphicon-ok"></span></li>
		</ul>
	</div>


</div>

<script type="text/javascript" src="/js/filtro.js"></script> 