    <footer id="footer" class="main-footer todos bg">
      <div class="container">
        <div class="area">
          <h4>Recursos</h4>
          <ul>
            <li><a title="Recursos Educacionais<br>Abertos" href="#">Recursos Educacionais<br>Abertos</a></li>
            <li><a title="Coleções Estruturadas" href="#">Coleções Estruturadas</a></li>
            <li><a title="Recursos Educacionais<br>Validados" href="#">Recursos Educacionais<br>Validados</a></li>
          </ul>
        </div>
        <div class="area">
          <h4>Sobre</h4>
          <ul>
            <li><a title="Contato" href="#">Contato</a></li>
            <li><a title="Sobre o Portal" href="#">Sobre o Portal</a></li>
            <li><a title="Portais Integrados" href="#">Portais Integrados</a></li>
            <li><a title="Termos de Uso" href="#">Termos de Uso</a></li>
            <li><a title="Enviar sugestões" href="#">Enviar sugestões</a></li>
          </ul>
        </div>
        <div class="area">
          <h4>Ajuda</h4>
          <ul>
            <li><a title="Navegação" href="#">Navegação</a></li>
            <li><a title="Criando Recursos" href="#">Criando Recursos</a></li>
            <li><a title="Enviando Recursos" href="#">Enviando Recursos</a></li>
          </ul>
        </div>
        <div class="area">
          <h4>Redes sociais</h4>
          <ul>
            <li><a title="Ir para o Facebook" href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
            <li><a title="Ir para o Twitter" href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i>  Twitter</a></li>
            <li><a title="Ir para o Youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i>  Youtube</a></li>
          </ul>
        </div>
      </div>
    </footer>